*::after, *::before, *{
    box-sizing: border-box;}
    html{
        font-family: Andale Mono, monospace;
        margin: 0;
        padding: 0;
        }
    body {
        background-image: url(background.jpeg );
        max-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: #050505;
        color: aliceblue;
        font-size: 24px;
        text-transform: uppercase;
        padding : 20px;
    }
    .logo{
        font-size: 48px;
    }
    header a {
        text-decoration: none;
        color: aliceblue;
        border-spacing: 5px;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        justify-content: flex-end;
    }
    .paragraph {
        display: flex;
        justify-content: space-evenly;
        margin-top: 75px;
    } 
    img {
        border-radius: 50%;
    }
    #text {
        text-transform: uppercase;
        font-size: 82px;
        margin-top: 58px;
        color: aliceblue;
        text-align: center;
    }

    